@media screen and (min-width:1650px) and (max-width:3000px) { /* Tela a partir de 1600px*/

    @font-face {
        font-family: 'padrao1';
        src: url(../source/Gotham\ Book.otf);
    }
    
    :root{
        --cor-azul-fraco:rgba(119, 169, 235, 0.938);
        --cor-amarelo-padrao:rgb(223, 210, 32);
    }
    
    
    *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    header{
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 2s;
    }

    .menuclick{
        display: none;
    }

    .imagem-background{
        display: none;
    }
    
    main{
        background-color: rgb(255, 255, 255);
    }
    
    .background-tittle{
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
    .background-tittle >menu{
        width: 100%;
    }
    
    .conteudo-tittle1{
        background-color: rgb(255, 255, 255);
        margin: auto;
        padding-top: 122px;
        text-align: center;
    }
    
    .menu{
        text-align: center;
        background-color: rgb(56, 56, 201);
        height: 50px;
    }
    .menu>li{
        display: inline-block;
        padding: 15px 30px 0px 0px;
    }
    
    .menu>li>a{
        text-decoration: none;
        font-size: large;
        font-family: 'padrao1';
        color: rgb(255, 255, 255);
        font-weight: bolder;
        padding: 0px 40px 0px 40px;
    }
    
    .menu>li>a:hover{
        color: rgb(229, 255, 0);
        transition: .9s;
        text-shadow: none;
    }
    
    .menu>li>a>img{
        width: 40px;
        position: fixed;
        top: 18px;
    }
    
    .menu>li>a>img:hover{
        width: 45px;
        transition: .3s;
        transform: rotate(10deg);
    }
    
    .logo{
        background-image: url(../img/logos/logo1senacColorido.png);
        width:55px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: 20%;
        top: 0px;
    }
    
    .cliqueaqui{
        
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.158);
        padding: 20px;
        width: 200px;
        border-radius: 40px;
        background-color: var(--cor-azul-fraco);
        margin: auto;
    }
    
    .cliqueaqui:hover{
        border-radius: 30px;transition: .5s;
        background-color: var(--cor-amarelo-padrao);
    }
    
    .cliqueaqui>a{
        text-decoration: none;
        font-family: 'padrao1';
        font-size: large;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.658);
    }
    .cliqueaqui>a:hover{
        color: rgb(255, 255, 255);
        transition: .5s;
    }
    
    .sessao1{
        height: 100vh;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px 0px 0px 0px;
        width: 70%;
        margin: auto;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 3s;
    }
    .sessao1 > h1{
        background-color:var(--cor-azul-fraco);
        width: 160px;
        height: 70px;
        margin: auto;
        font-size: 4em;
        border-radius: 10px 50px;
        font-family:'padrao1';
    }
    
    .conteudo>p{
        font-family:'padrao1';
        font-size: 1em;
        text-align: justify;
    }
    .conteudo{
        columns: 2;
        padding: 50px 0px 0px 0px;
    }
    .conteudo>.euquadrado{
        height: 650px;
        width: 450px;
        margin: auto;
        overflow: hidden;
    }
    
    .conteudo>.euquadrado>img{
        width: 790px;
        height: 600px;
    }
    
    .cliqueaqui1{
        text-align: center;
        width: 60%;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.158);
        padding: 20px;
        border-radius: 40px;
        background-color: var(--cor-azul-fraco);
    }
    
    .cliqueaqui1:hover{
        border-radius: 30px;transition: .5s;
        background-color: var(--cor-amarelo-padrao);
    }
    
    .cliqueaqui1>a{
        text-decoration: none;
        font-family: 'padrao1';
        font-size: large;
        font-weight: bolder;
        color: rgba(0, 0, 0, 0.658);
    }
    .cliqueaqui1>a:hover{
        color: rgb(255, 255, 255);
        transition: .5s;
    }
    
    .convidados{
        height: 350px;
        text-align: center;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.5s, transform 3s;
    }
    
    .convidados-list{
        display: inline-block;
        width: 400px;
        height: 300px;
    }
    .convidados-list>img{
        border-radius: 20px;
    }
    footer{
        text-align: center;
        width: 80%;
        margin: auto;
    }
    
    footer>ul{
        columns: 4;
    
    }
    
    footer>ul>li{
        display: inline-block;
        line-height: 1.8;
    }
    footer>ul>li>a{
        text-decoration: none;
        font-family: 'padrao1';
        font-weight: bold;
        font-size: .8em;
    }
    
}